:host {
  padding: 5px;
  flex: 1;
}

div {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  max-width: 70%;
  margin: 0 auto;
}

ui-jumbo {
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 1.5em;
}

ui-btn {
  font-size: 3rem;
}

ui-btn button {
  min-width: 2em;
}

@media screen and (min-width: 36em)  {
  div {
    flex-direction: row;
  }
}

