:host {
  padding: 5px;
  flex: 1;
  font-size: 3rem;
}

div {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 70%;
  margin: 0 auto;
}

ui-jumbo {
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

ui-btn button {
  min-width: 2em;
  aspect-ratio: 1/1;
}

@media screen and (min-width: 36em) {
  div {
    flex-direction: row;
  }
  ui-jumbo {
    font-size: 3.5rem;
  }
}
