:host {
  box-sizing: border-box;
  display: block;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  --root-pad: 1;
  padding: calc(var(--root-pad) * 1rem);
  --bg-clr: #03060b;

  --p1-clr-r: 191;
  --p1-clr-g: 82;
  --p1-clr-b: 255;
  --p1-clr: rgb(var(--p1-clr-r), var(--p1-clr-g), var(--p1-clr-b));

  --p2-clr-r: 255;
  --p2-clr-g: 255;
  --p2-clr-b: 255;
  --p2-clr: rgba(var(--p2-clr-r), var(--p2-clr-g), var(--p2-clr-b), 1);

  --p1-clr--text-shadow: 0 0 30px rgba(var(--p1-clr-r), var(--p1-clr-g), var(--p1-clr-b), 0.55), 0 0 60px rgba(var(--p2-clr-r), var(--p2-clr-g), var(--p2-clr-b), 0.50);
  --p2-clr--text-shadow: 0 0 30px rgba(var(--p2-clr-r), var(--p2-clr-g), var(--p2-clr-b), 0.45), 0 0 60px rgba(var(--p2-clr-r), var(--p2-clr-g), var(--p2-clr-b), 0.25);

  color: var(--p2-clr);
  background-color: var(--bg-clr);
}

.root {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 2 * var(--root-pad) * 1rem);
}

nav {
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
nav h1 {
  display: inline-block;
  margin: 0;
  /* text-shadow: var(--p2-clr--text-shadow); */
  margin-right: auto;
  font-size: 1.5rem;
  margin: 0 0.4em 0 0;
  transition: color 200ms ease-in-out;
}
nav h1 .highlight {
  color: var(--p1-clr);
  transition: color 200ms ease-in-out;
}

nav h1:hover {
  color: var(--p1-clr);
}
nav h1:hover .highlight {
  color: var(--p2-clr);
}

.app-links {
  color: var(--p1-clr);
  font-size: 1.2rem;
  flex: 1 0 100%;
  order: 3;
  text-align: center;
}

.external-links {
  color: var(--p1-clr);
  font-size: 1rem;
  margin-left: auto;
}

.external-links a {
  margin: 0 0.6rem 0;
}

.external-links svg {
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
}

.external-links a .fill-out {
  fill: var(--p2-clr);
  transition: fill 200ms ease-in-out;
}

.external-links a:hover .fill-out {
  fill: var(--p1-clr);
}

.app-links a {
  margin-top: 1em;
}

.external-links a:last-child {
  margin-right: 0;
}

a {
  display: inline-block;
  margin: 0 0.4em;
  color: var(--p2-clr);
  transition: color 200ms ease-in-out;
  text-decoration: none;
}

a.active {
  text-decoration: underline;
  text-decoration-color: var(--p1-clr);
  text-decoration-thickness: 2px;
}

a:hover {
  color: var(--p1-clr);
}

main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex {
  display: flex;
  flex: 1;
}

@media screen and (min-width: 36em) {
  .app-links {
    order: unset;
    flex-basis: auto;
  }
  .app-links a {
    margin-top: 0;
  }
}

.version {
  position: absolute;
  bottom: 1rem;
  left: 1.1rem;
  display: inline-block;
  max-width: fit-content;
  font-size: 0.9rem;
  color: (--p2-clr);
  opacity: 0;
}

.version:hover {
  opacity: 0.5;
}
