:host {
  box-sizing: border-box;
  display: block;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  --root-pad: 1;
  padding: calc(var(--root-pad) * 1rem);

  --bg-clr: #03060b;
  --p1-clr: magenta;
  --p1-clr: #764abc;
  --p1-clr: hsl(263, 46%, 51%);
  --p1-clr: hsl(278, 100%, 66%);
  --color_red: 255;
  --color_green: 255;
  --color_blue: 255;
  --p2-clr: rgba(var(--color_red), var(--color_green), var(--color_blue), 1);
  color: var(--p2-clr);

  --glow-text-shadow: 0 0 30px rgba(var(--color_red), var(--color_green), var(--color_blue), 0.45), 0 0 60px rgba(var(--color_red), var(--color_green), var(--color_blue), 0.25);
  background-color: var(--bg-clr);
}

.root {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 2 * var(--root-pad) * 1rem);
}

nav {
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
nav h1 {
  display: inline-block;
  margin: 0;
  text-shadow: var(--glow-text-shadow);
  margin-right: auto;
  font-size: 1.5rem;
  padding: 0 0.4em 0 0;

}
nav h1 .highlight {
  color: var(--p1-clr);
}

.app-links {
  color: var(--p1-clr);
  font-size: 1.2rem;
  flex: 1 0 100%;
  order: 3;
  text-align: center;
}

.external-links {
  color: var(--p1-clr);
  font-size: 1.2rem;
  margin-left: auto;

}
.app-links a {
  margin-top: 1em;
}

.external-links a:last-child {
  padding-right: 0;
}


a {
  display: inline-block;
  padding: 0 0.4em;
  color: var(--p2-clr);
  transition: color 200ms ease-in-out;
  text-decoration: none;
}

a.active {
  text-decoration: underline;
  text-decoration-color: var(--p1-clr);
  text-decoration-thickness: 2px;
}

a:hover {
  color: var(--p1-clr);
}

main {
  flex: 1;
  display: flex;
  margin: 30px;
  padding: 30px;
  align-items: center;
  justify-content: center;
}

.flex {
  display: flex;
  flex: 1;
}


@media screen and (min-width: 36em)  {
  .app-links { 
    order: unset;
    flex-basis: auto;
  }
  .app-links a {
    margin-top: 0;
  }
}

