
span {
  display: inline-block;
  /* line-height: 1.05em; */
  /* height: 14.5rem; */
  /* margin-bottom: -0.5rem; */
  min-width: 3ch;
  text-align: center;
  color: rgba(var(--color_red), var(--color_green), var(--color_blue), 1);
  text-shadow: var(--p2-clr--text-shadow);
  /* animation: floating 3s ease-in-out infinite; */
  font-size: 4em;
}


/* @keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
} */
