:host {
  padding: 5px;
  flex: 1;
  font-size: 2rem;;
}

ui-btn {
  display: flex;
  justify-content: center;
}

.data {
  margin-top: 1em;
  display: block;
}

.row {
  display: flex;
}

.label {
  text-align: end;
  padding-right: 0.5em;
  min-width: 50%;
}

.value {
  color: var(--p1-clr);
  text-shadow: var(--glow-text-shadow);
}

@media screen and (min-width: 36em)  {
  :host {
    font-size: 3rem;
  }
}

